.footer-principal {
  background:
    radial-gradient(
      circle at 15% 10%,
      rgba(28, 148, 192, 0.14),
      transparent 100%
    ),
    radial-gradient(
      circle at 85% 20%,
      rgba(112, 92, 255, 0.12),
      transparent 28%
    ),
    linear-gradient(135deg, #f8f9ff 0%, #eef3ff 100%);

  color: #11142d;
  padding: 25px 65px 5px;

  border-top: 1px solid rgba(112, 92, 255, 0.12);
}

.contenedor-footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 50px;
  margin-bottom: 40px;
}

.logo-footer {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #6d5cff;
}

.descripcion-footer {
  color: #66708f;
  line-height: 1.7;
  max-width: 430px;
}

.columna-footer h3 {
  margin-bottom: 18px;
  color: #6d5cff;
}

.columna-footer a,
.columna-footer p {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 12px;

  color: #66708f;
  text-decoration: none;
  transition: 0.3s;
}

.columna-footer a:hover {
  color: #6d5cff;
}

.redes-footer {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.redes-footer a {
  width: 42px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  color: #6d5cff;

  border-radius: 12px;
  box-shadow: 0 14px 30px rgba(30, 42, 90, 0.1);
}

.redes-footer a:hover {
  background: #6d5cff;
  color: white;
}

.copyright-footer {
  padding-top: 25px;
  border-top: 1px solid rgba(112, 92, 255, 0.12);
  text-align: center;
  color: #8790a8;
  font-size: 0.9rem;
}

@media (max-width: 900px) {
  .footer-principal {
    padding: 50px 25px 25px;
  }

  .contenedor-footer {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}

.logo-imagen-footer {
  width: 180px;
  height: auto;
  margin-top: 1px;
}
